{{#uic-button-group}}
  {{uic-button text="Cancel" action=(action cancel)}}
  {{uic-button text="Save" action=(action submit) disabled=(if changeset.isInvalid true) class="blue"}}
{{/uic-button-group}}

{{uic-form-element
  label="Password"
  value=changeset.password
  type="password"}}

{{uic-form-element
  label="Password confirmation"
  value=changeset.passwordConfirmation
  type="password"}}

{{#uic-form-element label="Strength" class=passwordStrengthName}}
  <meter value={{passwordStrength}} min=0 max=3 />
{{/uic-form-element}}

{{#if changeset.isInvalid}}
  <div class="errors-popup">
    <h3>Errors:</h3>
    <ul>
      {{#each changeset.errors as |error|}}
        <li>{{error.validation}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
