{{#if canEditTopic}}
  {{button-edit click=(action edit)}}
{{/if}}
<h2>{{model.title}}</h2>
<p>Posted By: {{model.author.name}}</p>
<p>{{moment-format model.created "L h:mm a"}}</p>
<p>Replies: {{model.posts.length}}</p>
<p class="topic-body">{{model.body}}</p>

{{#each model.posts as |post|}}
  <div class="post">
    <p class="post-details">Posted: {{moment-format post.created "L h:mm a"}}</p>
    <p class="post-body">{{post.body}}</p>
  </div>
{{/each}}

{{uic-button text="Reply" action=(action transitionToRoute "topic.new-post")}}

{{outlet}}
