{{#if (can "edit topic" topic.model)}}
  {{button-edit click=(action editTopic)}}
  {{button-delete click=(confirm "Delete topic?" (action deleteTopic topic.model))}}
{{/if}}
{{uic-button text="Reply" action=(action transitionToRoute "topic.new-post")}}
<h2>{{topic.model.title}}</h2>
<div class="topic-details">
  <p>Posted By: {{topic.model.author.name}}</p>
  <p>{{moment-format topic.model.createdAt "DD/MM/YYYY h:mm a"}}</p>
  <p>Replies: {{replies}}</p>
  {{#if topic.model.edited}}
    <p>Edited: {{moment-format topic.model.modified "DD/MM/YYYY h:mm a"}}</p>
  {{/if}}
</div>
<p class="topic-body">{{topic.model.body}}</p>

{{#each model as |post|}}
  <div class="post">
    <div class="post-details">
      <p>Posted By: {{post.author.name}}</p>
      <p>{{moment-format post.createdAt "DD/MM/YYYY h:mm a"}}</p>
      {{#if (can "edit post" post)}}
        {{button-edit size=24 click=(action editPost post)}}
        {{button-delete size=24 click=(confirm "Delete post?" (action deletePost post))}}
      {{/if}}
      {{#if post.edited}}
        <p>Edited: {{moment-format post.modified "DD/MM/YYYY h:mm a"}}</p>
      {{/if}}
    </div>
    <p class="post-body">{{post.body}}</p>
  </div>
{{/each}}

{{infinity-loader infinityModel=model loadedText="" loadingText="Loading..."}}

{{uic-button text="Reply" action=(action transitionToRoute "topic.new-post")}}

{{outlet}}
