<div class="login-status">
  {{#if session.isAuthenticated}}
    {{#if sessionAccount.user.username}}
        {{sessionAccount.user.username}}
    {{/if}}
    {{uic-button text="Logout" action="logout" class="small logout-button"}}
  {{else}}
    {{#uic-button-group class="small"}}
      {{link-to "Login" "login" tagName="button" class="uic-button"}}
      {{link-to "Register" "register" tagName="button" class="uic-button"}}
    {{/uic-button-group}}
  {{/if}}
</div>

{{link-to forumTitle "index" tagName="h1"}}

<div class="location">{{bread-crumbs}}</div>

{{outlet}}
