{{search-bar value=search}}

{{uic-button text="New Topic" action=(action transitionToRoute "new-topic")}}

<label>
  Moderators:
</label>
<ul class="moderators">
  {{#each sortedModerators as |user|}}
    <li>{{user.name}}</li>
  {{/each}}
</ul>

<ul class="topic-list">
  {{#each sortedTopics as |topic|}}
    <li {{action transitionToRoute "topic" topic}} class="topic">
      <h2>{{topic.title}}</h2>
      <p>Posted By: {{topic.author.name}}</p>
      <p>{{moment-format topic.createdAt "DD/MM/YYYY h:mm a"}}</p>
      <p>Replies: {{topic.posts.length}}</p>
    </li>
  {{else}}
    <li {{action transitionToRoute "new-topic"}}><h2>No topics!</h2></li>
  {{/each}}
</ul>

{{infinity-loader infinityModel=model loadedText="" loadingText="Loading..."}}

{{outlet}}
